*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(69, 179, 19);
    background: linear-gradient(90deg, rgb(19, 16, 68) 0%, rgb(45, 118, 138) 91%, rgb(45, 118, 138) 91%, rgba(0,212,255,1) 100%);
}
fieldset
{
    max-width: 400px;
    border-color: aqua;
    border-radius: 9px;
    color: #fff;
    padding:40px;	
    margin: 20px;
}
legend{
    font-size: 3rem;
    text-align: center;
    font-weight: 600;
}
form{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}
form #userInput{
    width: 100px;
    padding: 10px 5px;
    margin: 8px 0px;
    border-radius: 4px;
}
#button1{
    background-color: #fff;
    border: none;
    color: #0A6EBD;
    padding: 10px 15px;
    margin: 4px 2px;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 4px;
    cursor: pointer;
}
#resetButton{
    background-color: #fff;
    border: none;
    color: #0A6EBD;
    padding: 10px 15px;
    margin: 4px 2px;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    border-radius: 4px;
    cursor: pointer;
}
#result{
    letter-spacing: 2px;
    padding-top: 10px;
    margin: 5px 0px;
    text-align: center;
    font-weight: 600;
}
 